@import "_variables.scss";


.contact{
	#contactMaps{
		padding-bottom: 10px;
		font-weight: bold;
	}

	#mapUrl{
		font-weight: bold;
	}
	#callUs{
		font-weight: bold;

	}
	#callUs2{
		font-weight: bold;
	}
	#maps{
		width: 700; 
		height: 450;
		border: 0;
	}
}