@import "_variables.scss";


<<<<<<< HEAD
.contact{
	#contactMaps{
		padding-bottom: 10px;
		font-weight: bold;
	}

	#mapUrl{
		font-weight: bold;
	}
	#callUs{
		font-weight: bold;

	}
	#callUs2{
		font-weight: bold;
	}
	#maps{
		width: 700; 
		height: 450;
		border: 0;
	}
=======
.contact {
.map {
	margin-bottom:20px;
}
>>>>>>> 14c321966adf1b77abfdab54686b247d7223359a
}